@font-face {
  font-family: Norse-Bold;
  src: url(.//Norse-Bold.otf);
}

body,
html {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

#main-div {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

#left-div {
  background-image: url(.//imgs/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: 70vh;
  background-repeat: no-repeat;
  width: 40vw;
}

#transparent-div {
  margin-top: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 9rem;
}

h1 {
  font-family: Norse-Bold;
  font-size: 6rem;
  color: white;
}

#odin-logo {
  height: 7rem;
}

footer {
  color: rgb(199, 199, 199);
  display: flex;
  justify-content: center;
  align-items: end;

  font-size: 0.9rem;
  height: 60vh;
}

a {
  margin-left: 3px;
  margin-right: 3px;
  color: rgb(199, 199, 199);
}

#right-div {
  width: 90vw;
  background-color: rgb(247, 247, 247);
}

#hero-text {
  padding-left: 3rem;
  display: flex;
  align-items: end;

  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  width: 50vw;
  height: 22vh;
}

#hero-bottom {
  padding-left: 3rem;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 30px;
}

#form-container {
  background-color: white;
  margin-top: 3rem;
  height: 35vh;
  font-family: sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

#form-text {
  padding-top: 1rem;
  padding-left: 3rem;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.form-main-div {
  display: flex;
  flex-direction: row;
  height: 23vh;
}

.form-divs {
  padding-left: 3rem;
  width: 20rem;
}

.form-div {
  height: 5rem;
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
  border: 1px solid #e5e7eb;
  height: 40%;
  outline: none;
}

input:focus {
  border: 1px solid blue;
  box-shadow: 1px 1px black;
}

#bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  height: 10rem;
  padding-left: 3rem;
}

#createBtn {
  width: 15rem;
  border-radius: 5px;
  height: 50px;
  background-color: #596d48;
  border: none;
  color: white;
  font-size: 18px;
}
